bubbletea/bubbletea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="github.com/agentflare-ai/agentml-go/bubbletea"
    xmlns:bubbletea="github.com/agentflare-ai/agentml-go/bubbletea"
    xmlns:agentml="github.com/agentflare-ai/agentml"
    elementFormDefault="qualified">

    <xs:import namespace="github.com/agentflare-ai/agentml"
        schemaLocation="https://xsd.agentml.dev/agentflare-ai/agentml/agentml.xsd">
        <xs:annotation>
            <xs:documentation>Imports AgentML executable substitution group so bubbletea:program can
                be used wherever executable content is allowed.</xs:documentation>
        </xs:annotation>
    </xs:import>

    <xs:element name="program" substitutionGroup="agentml:executable">
        <xs:annotation>
            <xs:documentation>Starts an interactive Bubble Tea UI. Emits AgentML events based on
                user cursor movement, selection changes, submit or quit actions. Event payloads
                include: {component: "list", programId, listId, selectedIndices, selectedValues,
                selectedLabels, reason}.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="bubbletea:list" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:textinput" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:textarea" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:table" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:progress" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:paginator" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:viewport" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:spinner" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:filepicker" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:timer" minOccurs="1" maxOccurs="1" />
                <xs:element ref="bubbletea:stopwatch" minOccurs="1" maxOccurs="1" />
            </xs:choice>
            <xs:attribute name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Optional program identifier included in emitted events. When
                        omitted a random ID derived from muid.String() is assigned.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="list">
        <xs:annotation>
            <xs:documentation>Declarative list widget rendered by Bubble Tea. Handles navigation
                with arrow keys / vim bindings, space to toggle selections (when multi=true), enter
                to submit, and q/ctrl+c to quit.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bubbletea:item" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="title" type="xs:string" />
            <xs:attribute name="multi" type="xs:boolean" default="false">
                <xs:annotation>
                    <xs:documentation>Allow multi-select when true. When false only one item can be
                        selected at a time.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="cursor-event" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Event emitted whenever the cursor moves. Omit to disable.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="change-event" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Event emitted when selection changes via the space bar (or
                        implicit single-select updates).</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit">
                <xs:annotation>
                    <xs:documentation>Event emitted when the user presses enter to finalize their
                        selection.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit">
                <xs:annotation>
                    <xs:documentation>Event emitted when the user quits (q or ctrl+c).</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="value" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Semantic value stored in events. Defaults to the item
                                text when omitted.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="textinput">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" />
                    <xs:attribute name="placeholder" type="xs:string" />
                    <xs:attribute name="prompt" type="xs:string" />
                    <xs:attribute name="value" type="xs:string" />
                    <xs:attribute name="width" type="xs:int" />
                    <xs:attribute name="char-limit" type="xs:int" />
                    <xs:attribute name="echo-mode" type="xs:string" />
                    <xs:attribute name="focused" type="xs:boolean" />
                    <xs:attribute name="suggestions" type="xs:string" />
                    <xs:attribute name="cursor-event" type="xs:string" />
                    <xs:attribute name="change-event" type="xs:string" />
                    <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
                    <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="textarea">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" />
                    <xs:attribute name="placeholder" type="xs:string" />
                    <xs:attribute name="prompt" type="xs:string" />
                    <xs:attribute name="value" type="xs:string" />
                    <xs:attribute name="width" type="xs:int" />
                    <xs:attribute name="height" type="xs:int" />
                    <xs:attribute name="show-line-numbers" type="xs:boolean" />
                    <xs:attribute name="focused" type="xs:boolean" />
                    <xs:attribute name="cursor-event" type="xs:string" />
                    <xs:attribute name="change-event" type="xs:string" />
                    <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
                    <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="columns" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="column" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="title" type="xs:string" use="required" />
                                    <xs:attribute name="width" type="xs:int" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="rows" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cell" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="separator" type="xs:string" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="width" type="xs:int" />
            <xs:attribute name="height" type="xs:int" />
            <xs:attribute name="focused" type="xs:boolean" />
            <xs:attribute name="cursor-event" type="xs:string" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="progress">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="percent" type="xs:double" />
            <xs:attribute name="width" type="xs:int" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="paginator">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="type" type="xs:string" />
            <xs:attribute name="per-page" type="xs:int" />
            <xs:attribute name="total-pages" type="xs:int" />
            <xs:attribute name="cursor-event" type="xs:string" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="viewport">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="id" type="xs:string" />
                    <xs:attribute name="width" type="xs:int" />
                    <xs:attribute name="height" type="xs:int" />
                    <xs:attribute name="x-offset" type="xs:int" />
                    <xs:attribute name="y-offset" type="xs:int" />
                    <xs:attribute name="content" type="xs:string" />
                    <xs:attribute name="cursor-event" type="xs:string" />
                    <xs:attribute name="change-event" type="xs:string" />
                    <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
                    <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="spinner">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="spinner" type="xs:string" />
            <xs:attribute name="start" type="xs:boolean" default="true" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="filepicker">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="height" type="xs:int" />
            <xs:attribute name="current-directory" type="xs:string" />
            <xs:attribute name="allowed-types" type="xs:string" />
            <xs:attribute name="show-hidden" type="xs:boolean" />
            <xs:attribute name="show-size" type="xs:boolean" />
            <xs:attribute name="show-permissions" type="xs:boolean" />
            <xs:attribute name="dir-allowed" type="xs:boolean" default="true" />
            <xs:attribute name="file-allowed" type="xs:boolean" default="true" />
            <xs:attribute name="auto-height" type="xs:boolean" />
            <xs:attribute name="cursor" type="xs:string" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="timer">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="timeout" type="xs:string" />
            <xs:attribute name="interval" type="xs:string" />
            <xs:attribute name="autostart" type="xs:boolean" default="true" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

    <xs:element name="stopwatch">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="interval" type="xs:string" />
            <xs:attribute name="autostart" type="xs:boolean" default="true" />
            <xs:attribute name="change-event" type="xs:string" />
            <xs:attribute name="submit-event" type="xs:string" default="bubbletea.submit" />
            <xs:attribute name="quit-event" type="xs:string" default="bubbletea.quit" />
        </xs:complexType>
    </xs:element>

</xs:schema>
